@import 'mixin';
@import 'var';

body{
    color: white;
    background-color: black;
    .header--notification{
        @include bordersMozilla();
        display : flex;
        justify-content: center;
        align-items: center;
    
        p{
            a{
                color: rgb(153, 80, 221);
            }
        }
    }

    .modify--nav-background{
        background-color: black !important;
        *{
            color: white;
        }
    }


    .modify--floater{
        background-color: brown;
        color: rgb(0, 0, 0);
        font-size: 10px;
        padding: 1px;
        border-radius: 0.4rem;
        position: absolute;
        margin-left: 4%;
    }

    ul li{
        &:hover{
            background-color: rgba(0, 217, 255, 0.28);
        }
    }

    .modify--button-nav-item{
        color : black
    }

    .modify--li-a-color{
        color : white;
    }

    .header--link{
        @include bordersMozilla();
        display: flex;

        .d-flex1{
            display : flex;
            justify-content: flex-start;    
        }

        .d-flex2{
            display : flex;
            justify-content: flex-end;
        }
    }

    .flexing{
        display: flex;
        justify-content: space-between;
        .left-side{
            height: 50rem;
            width: 30%;
            overflow: scroll;
            &--ul-style{
                list-style-image: url('caret-right-solid.svg');
            }
        }

        .center-side{
            h1{
                text-align: start;
            }
        }
    
        .right-side{
            &--border{
                border-left: 1px solid white
            }
        }
    
    }
}
