body {
  color: white;
  background-color: black;
}
body .header--notification {
  background-color: #343434;
  border-top: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header--notification p a {
  color: rgb(153, 80, 221);
}
body .modify--nav-background {
  background-color: black !important;
}
body .modify--nav-background * {
  color: white;
}
body .modify--floater {
  background-color: brown;
  color: rgb(0, 0, 0);
  font-size: 10px;
  padding: 1px;
  border-radius: 0.4rem;
  position: absolute;
  margin-left: 4%;
}
body ul li:hover {
  background-color: rgba(0, 217, 255, 0.28);
}
body .modify--button-nav-item {
  color: black;
}
body .modify--li-a-color {
  color: white;
}
body .header--link {
  background-color: #343434;
  border-top: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  display: flex;
}
body .header--link .d-flex1 {
  display: flex;
  justify-content: flex-start;
}
body .header--link .d-flex2 {
  display: flex;
  justify-content: flex-end;
}
body .flexing {
  display: flex;
  justify-content: space-between;
}
body .flexing .left-side {
  height: 50rem;
  width: 30%;
  overflow: scroll;
}
body .flexing .left-side--ul-style {
  list-style-image: url("caret-right-solid.svg");
}
body .flexing .center-side h1 {
  text-align: start;
}
body .flexing .right-side--border {
  border-left: 1px solid white;
}/*# sourceMappingURL=style.css.map */